<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
</head>
<body>
<p>Creating book page</p>
<form th:method="post" th:action="@{/books}" th:object="${book}">
    <label>Enter name of book:</label>
    <input type="text" th:field="*{title}" id = "title"/>
    <br/>
    <label>Enter author of book:</label>
    <input type="text" th:field="*{author}" id = "author"/>
    <br/>
    <label>Enter year of publish:</label>
    <input type="text" th:field="*{year}" id = "year"/>
    <br/>
    <input type="submit" value="Create!"/>

</form>
</body>
</html>